* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 20px;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}


header {
    z-index: 1;
    position: sticky;
    top: 0;
    margin-top: 20px;
    background-color: #000000;
    backdrop-filter: blur(10);
    padding-bottom: 20px;
    animation: headAnim 1.3s ease-in-out forwards;
}

@keyframes headAnim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.header__logo{
    width: 90px;
    border-radius: 50%;
    margin-left: -700px;
    margin-top: -10px;
}

.nav__wrapper{
    padding-left:686px;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__bt{
padding: 8px 20px;
    background-color: rgba(4, 124, 236, 0.692);
    border-radius: 8px;
    color: black;
    margin-top: -20px;
    border: none;
    cursor: pointer;
    margin-top: 37px;
    margin-right: 10px;
    border: 1px solid #fd6f00;
}
.nav__bt:hover {
    background-color: black;
    color: white;
    border: 1px solid #fd6f00;
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 1s;
}
p{
    font-size: 20px;
}

.nav__ul{
    display: flex;
    gap: 80px;
    align-items: center;
    margin-top: -20px;
    margin-left: -390px;
}

a{
color: inherit;
text-decoration: none;
}

li{
list-style-type: none;
}
.lists:hover {    
 color: rgb(209, 113, 3);
}
.lists{
    font-size: 18px;
}
.nav__btn{
    padding: 10px 16px;
    background-color: white;
    border-radius: 12px;
    color: black;
    margin-top: -50px;
    border: none;
    cursor: pointer;
    border: 1px solid #fd6f00;
}

 .nav__btn:hover{
    background-color: black;
        color: white;
        border: 1px solid #fd6f00;
        box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
       rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
       rgba(246, 124, 1, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }

.hero{
    color: white;
    display: flex;
}
.header__btn{
    align-items: center;
    gap: 20px;
    display: flex;
    margin-left: 40px;
}
.hero__h1{
font-size: 60px;
padding-bottom: 30px;
}
.hero__title{
    margin-top: 120px;
}

.hero__lok{
    display: flex;
    gap: 10px;
    align-items: center;
   
}
.hero__p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero__lo{
    padding-top: 20px;
    gap: 30px;
    display: flex;
}
.hero__img{
    cursor: pointer;
    margin-top: -20px;
    transition: 0.7s;
}
.hero__me{
position: relative;
}


.hero__img:hover{
         transform: scale(1.6);
}

.hero__meimg{
    width: 240px;
    margin: 100px 10px 150px 300px;
    border-radius: 4px;
}
.hero__meimgl{
    width: 240px;
    height: 250px;
    background-color: #374151;
    position: absolute;
    top: 33% ;
    left: 58%;
    z-index: -4;
    border-radius: 4px;
}

.about{
    padding: 6px 20px;
    background-color: #374151;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #fd6f00;
   
}
.abut{
    padding: 6px 20px;
        background-color: #374151;
        border-radius: 50px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        border: 1px solid #fd6f00;
        margin-left: -240px;
}
.abu {
    padding: 6px 20px;
    background-color: #374151;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid #fd6f00;
    margin-left: -300px;
}
.abu:hover {
    background-color: black;
    color: white;
    border: 1px solid #fd6f00;
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.abut:hover {
    background-color: black;
    color: white;
    border: 1px solid #fd6f00;
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about:hover {
    background-color: black;
    color: white;
    border: 1px solid #fd6f00;
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-wrapper{
   padding: 60px 10px 20px 10px;
   display: flex;
   align-items: center;
  
  
}

.btn__imgi{
    padding-top: 140px;
    padding-left: 90px;
}
.btn__imig{
    border-radius: 8px;
    transition: 1.2s;
   margin-right: -120px;
   margin-top: -150px;
}
.btn__imig:hover {
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px,
        rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transform: scale(1.2);
}
.wrapper__title{
    color: white;
    padding-top: 70px;
}
.titole__div{
   margin-left: 500px;
 margin-top: 10px;
 padding-bottom: 180px;
 padding-left: -130px;
   
}
.bg__img{
    background-color: #111827;
    width: 1350px;
    margin: 0 auto;
}
.wrapper__tech{
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    margin: 0px 30px 10px 30px;
    justify-content: center;
}
.technologies{
    transition: 0.7s;
}
.technologies:hover {
    transform: scale(1.3);
}
.hero__logo{
  text-align: center;
}
.about__title{
   color: white; 
   padding-top: 20px;
   padding-bottom: 40px;
}
.card {
    width: 280px;
    height: 260px;
    background-color: #635c54f5;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.6s;
    text-align: center;
}

.card:hover {
    border: 1px solid #fd6f00;
    box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
        rgba(244, 124, 4, 0.12) 0px -12px 30px, rgba(255, 111, 1, 0.12) 0px 4px 6px,
        rgba(246, 124, 1, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-img img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.6s;
   
}
.card-con {
    padding: 60px 40px;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    background-color: #111827;
    color: rgba(255, 255, 255, 0.767);
    width: 1350px;
    margin-left: -80px;
}

.wrapper-card {
  background-color:#635c54f5 ;
  width: 670px;
  margin: 40px 60px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
transition: 0.5s;

}
.c__p{
    padding-bottom: 20px;
    padding-top: 10px;
}
.about__bt{
  text-align: center;
}
.abou {
        padding: 6px 20px;
        background-color: #374151;
        border-radius: 50px;
        border: none;
       justify-content: center;
       margin: 20px 0px 0px 10px;
       cursor: pointer;
    border: 1px solid #fd6f00;
    }
.abou:hover {
        background-color: black;
        color: white;
        border: 1px solid #fd6f00;
        box-shadow: rgba(255, 104, 3, 0.25) 0px 54px 55px,
            rgba(244, 124, 4, 0.12) 0px -12px 30px,
            rgba(255, 111, 1, 0.12) 0px 4px 6px,
            rgba(246, 124, 1, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
.wrapper-card:hover {
  transform: scale(1.1);
}

.card__p{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.car_p{
    background-color: #374151;
    border-radius: 50px;
    padding: 4px 7px;
    border: none;
    margin-right: 10px;
}

.bg__p{
    background-color: #0a1127;
    padding: 20px 20px;
}
.wr-image {
  width: 320px;
  margin: 0 auto;
  margin-bottom: -4px;

}
.bg__i{
    background-color: #1F2937;
    width: 350px;
}

.cards-wrapper {
  padding: 20px 150px;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.699);
  gap: 30px;
}

.h4-style {
  padding: 5px 0;
  color: white;
  margin-left: 10px;
  padding-bottom: 20px;
}
.html__logo{
    color: rgba(255, 255, 255, 0.705);
    display: flex;
    gap: 150px;
}
.html__log:hover{
    transition: 0.7s;
        transform: scale(1.3);
}
.footer__logo {
    display: flex;
   


}

.tel__nomer {
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-left: 500px;
    align-items: center;
    
}

footer {
    color: white;
    padding-bottom: 50px;
    margin-left: -100px;
    margin: 0 auto;
}

.footer__twitter {
    display: flex;
    gap: 20px;
    margin-bottom: -20px;
}

.footer__hr {
    border: 1px solid #42446E;
    border-radius: 2px;
    width: 1565px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -290px;
}

.wrappe {
    display: flex;
    gap: 30px;
}

.footer__ul {
    display: flex;
    padding-left: -40px;
    gap: 350px;
    
}
.hero__num{
    cursor: pointer;
}
.link__icon{
    align-items: center;
    padding-top: 20px;
    
}
.link__img{
margin-right: 9px;
margin-bottom: -2px;
}
.lin__icon{
    padding-left: 180px;
    padding-top: 20px;
    display: flex;
}
.link__mg{
         margin-left: 9px;
        margin-bottom: -3px;
}
.w-image{
    height: 290px;
    width: 290px;
    margin-bottom: -6px;
}